Repository Exygy/askdarcel-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["npm run prettier"],
  "*.{js,jsx,ts,tsx}": ["npm run lint"]
}

Updates config
  .lintstagedrc.json
Due: npm run prettier

separate scss into modules per component, remove redundant css
  app/components/ui/Navigation/CategoryDropdown.module.scss
  app/components/ui/Navigation/DesktopMenuItems.tsx
  app/components/ui/Navigation/DropdownMenu.module.scss
  app/components/ui/Navigation/DropdownMenu.tsx
  app/components/ui/Navigation/Navigation.module.scss
  app/components/ui/Navigation/Navigation.tsx
Due: npm run prettier, npm run lint

lint error
  app/components/ui/Navigation/DropdownMenu.tsx
Due: npm run prettier, npm run lint

Switches target branch to main
  .github/dependabot.yml
Due: none

rm old comment
  app/components/ui/Navigation/DropdownMenu.tsx
Due: npm run prettier, npm run lint

Updates jest config extension
  tsconfig.json
Due: npm run prettier

add visual cues and remove confusing button element with no action or href, add isVisualOnly prop to Button
  app/components/ui/Cards/OppEventCard.module.scss
  app/components/ui/Cards/OppEventCard.tsx
  app/components/ui/inline/Button/Button.tsx
Due: npm run prettier, npm run lint

Revert "add visual cues and remove confusing button element with no action or href, add isVisualOnly prop to Button" (WRONG PR)
  app/components/ui/Cards/OppEventCard.module.scss
  app/components/ui/Cards/OppEventCard.tsx
  app/components/ui/inline/Button/Button.tsx
Due: npm run prettier, npm run lint

rm redundant handleMenuToggle
  app/components/ui/Navigation/DesktopMenuItems.tsx
Due: npm run prettier, npm run lint

Category dropdown a11y (#110)
  app/components/search/Header/CustomDropdown.module.scss
  app/components/search/Header/CustomDropdown.tsx
  app/components/search/Header/Header.tsx
  app/components/ui/Navigation/DesktopMenuItems.tsx
  app/components/ui/Navigation/DropdownMenu.module.scss
  app/components/ui/Navigation/DropdownMenu.tsx
  app/components/ui/Navigation/Navigation.module.scss
  app/components/ui/Navigation/Navigation.tsx
  app/hooks/MenuHooks.ts
Due: npm run prettier, npm run lint

Update NavigationFocusReset only on top-level page changes not search query changes
  app/components/ui/Navigation/NavigationFocusReset.tsx
Due: npm run prettier, npm run lint

edit so focus is reset on all page changes except filter changes
  app/components/ui/Navigation/NavigationFocusReset.tsx
Due: npm run prettier, npm run lint

edit so focus is reset on all page changes except filter and query changes
  app/components/ui/Navigation/NavigationFocusReset.tsx
Due: npm run prettier, npm run lint

Adds Jest + React Testing Library 🧑‍🔬 (#129)
  .babelrc
  .gitignore
  README.md
  app/components/listing/__tests__/RelativeOpeningTimes.spec.tsx
  app/components/listing/__tests__/ServiceCard.spec.tsx
  app/components/listing/__tests__/ServiceCard.test.tsx
  app/components/ui/Cards/ServiceCard.tsx
  app/models/RecurringSchedule.ts
  app/utils/strings.test.ts
  jest.config.ts
  package-lock.json
  package.json
  test/jest/__mocks__/styleMock.js
  tsconfig.json
Due: npm run prettier, npm run lint

use location.search instead to only check if query string changes
  app/components/ui/Navigation/NavigationFocusReset.tsx
Due: npm run prettier, npm run lint

Focus State Update (#140)
  app/components/ui/Navigation/NavigationFocusReset.tsx
Due: npm run prettier, npm run lint

scroll to and focus first search hit after paginating
  app/components/search/SearchResults/SearchResult.tsx
  app/components/search/SearchResults/SearchResults.tsx
Due: npm run prettier, npm run lint

add visual cues and remove confusing button element with no action or href, add isVisualOnly prop to Button (#141)
  app/components/ui/Cards/OppEventCard.module.scss
  app/components/ui/Cards/OppEventCard.tsx
  app/components/ui/inline/Button/Button.tsx
Due: npm run prettier, npm run lint

run prettier
  app/components/search/Header/Header.tsx
Due: npm run prettier, npm run lint

merge conflict in SearchResult
  app/components/search/SearchResults/SearchResult.tsx
Due: npm run prettier, npm run lint

package-lock
  package-lock.json
Due: npm run prettier

package-lock again
  package-lock.json
Due: npm run prettier

update marker size
  app/components/ui/MapElements.tsx
Due: npm run prettier, npm run lint

sneaking prettierrc to fix format on save issues
  .prettierrc.json
Due: npm run prettier

add print-only class and hide / show elements for print view ux
  app/components/search/Header/Header.tsx
  app/components/search/SearchResults/SearchResult.tsx
  app/components/ui/BackButton.tsx
  app/components/ui/Footer/Footer.tsx
  app/components/ui/Navigation/Navigation.tsx
  app/styles/st-base/_layout.scss
Due: npm run prettier, npm run lint

close Sidebar on click away
  app/components/search/Sidebar/Sidebar.module.scss
  app/components/search/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint

fixes tablet-size visual bug where section had an empty grid column on left side
  app/components/ui/TwoColumnContentSection/TwoColumnContentSection.module.scss
Due: none

fix tiny chevron
  app/components/ui/Navigation/DesktopNavigation.module.scss
  app/components/ui/Navigation/DropdownMenu.module.scss
Due: none

fix tiny button icon size and align items center
  app/components/ui/inline/Button/Button.module.scss
Due: none

Upgrades webpack-cli and configs
  package-lock.json
  package.json
  webpack.config.js
Due: npm run prettier, npm run lint

Puts back options to remove in separate PR
  package.json
Due: npm run prettier

prettier.config.js
  .prettierrc.json
  prettier.config.js
Due: npm run prettier, npm run lint

useCallback instead of useRef
  app/components/search/SearchResults/SearchResults.tsx
Due: npm run prettier, npm run lint

z-indexes
  app/components/search/Header/CustomDropdown.module.scss
  app/components/search/Sidebar/Sidebar.module.scss
  app/components/ui/Navigation/DesktopNavigation.module.scss
  app/components/ui/Navigation/DropdownMenu.module.scss
  app/components/ui/Navigation/MobileNavigation.module.scss
  app/components/ui/Navigation/SkipButton.module.scss
  app/styles/utils/_layoututils.scss
Due: none

import scss vars fix
  app/components/ui/Navigation/SkipButton.module.scss
Due: none

useClickOutside hook
  app/components/search/Sidebar/Sidebar.tsx
  app/hooks/MenuHooks.ts
Due: npm run prettier, npm run lint

lint errors
  app/components/search/Sidebar/Sidebar.tsx
  app/hooks/MenuHooks.ts
Due: npm run prettier, npm run lint

Revert "Icon size bug (#148)"
  app/components/ui/Navigation/DesktopNavigation.module.scss
  app/components/ui/Navigation/DropdownMenu.module.scss
  app/components/ui/inline/Button/Button.module.scss
Due: none

remove font-adjust causing problems and revert 28px marker
  app/components/ui/MapElements.tsx
  app/styles/utils/_reset.scss
Due: npm run prettier, npm run lint
